@media (max-width: 1150px) {

    .mess{
        margin-left: 5%;
        max-width: 811px;
        width: 811px;
    }
    .rooms {
        margin-left: 25%;
        width: 100%;
    }
}
@media (max-width: 984px) {
    .mess{
        margin-left: 5%;
        max-width: 811px;
        width: 80%;
    }
    .rooms {
        margin-left: 5px;
        width: 100%;
    }
}

@media (max-width: 955px) {
    .prepareToConversation{
        max-width: 60%;
    }
    .mess {


        max-width: 751px;
        border-radius: 5px;
        margin-left: 15px;
    }
}
@media (max-width: 820px) {
    .mess {
        width: 80%;
    }

    .ownerMessage {
        max-width: 100%;
    }

    .message {
        max-width: 80%;
    }
    .buttonResponse{
        background-color: #9db7cc;
        color: black;
        padding: 5px;
    }
    .form_users_dropdown .input[type=submit]{
        color: black;
        font-size: 18px;
        font-weight: bolder;
        background-color: #f7f9f7;
    }
    .form_users_dropdown .input[type=submit]:hover{
        font-size: 18px;
        font-weight: bolder;
        color:  #f7f9f7;
        background-color: black;
        border-radius: 10px;
    }
}

@media (max-width: 600px) {
    .responsiveRooms {
        display: block;
    }

    .convers {
        display: none;
    }

    .mess {
        width: 90%;
        margin: 0 5%;
    }

    .prepareToConversation {
        background-color: rgba(255, 255, 255, 0);
        max-width: 80%;
        margin: auto;
        height: 15px;
    }
    .chooseRoomText {
        height: 100%;
        padding: 7px;
        background: rgba(255,255,255,0.6);
        border-radius: 8px;
        text-align: center;
        margin-top: 25px;

    }
    .buttonResponse{
        background-color: #9db7cc;
        color: black;
        padding: 5px;
    }

}
@media (max-width: 465px) {
    .log_out {
        width: auto;
    }
    .buttonResponse{
        background-color: #9db7cc;
        color: black;
        padding: 5px;
    }
    .chooseRoomText {
        width: 100%;
    }
    .addRoomResp{
        width: initial;
    }
    .nameOfUserSms {
        font-size: 14px;
        font-weight: bold;
        padding-left: 10px;
    }
    .message{
        background-color: rgba(247,179,153,1);
    }
    .ownerMessage{
        background-color: rgba(255,255,255,0.6);
    }
}
@media (max-width: 375px) {
    .sendMessageInput{
        height: 100px;
        margin-top: -57px;
        width: 67px;
    }
   .main-place{
       height: 92%;
   }
    .main-chat-data {
        height: 81%;
        margin-top: 4px;
    }
    .mess {
        width: 100%;
        margin: auto;
    }
    .sender{
        height: 0;
    }
}
@media (max-width: 374px) {
    .chooseRoomText{
        height: 35px;
    }
    .buttonResponse {
        width: 60px;
        height: 35px;
    }
}
@media only screen
and (device-width : 375px)
and (device-height : 667px)
and (-webkit-device-pixel-ratio : 2) {
    .main-place {
        height: 81%;
    }
    .main-chat-data {
        height: 76%;

    }
}