html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}*/
body {
    line-height: 1.3;
    font-family: 'Exo', sans-serif;
    color: #282828;
    font-size: 16px;
    background-image: url("../photo/background.jpg");
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.wrapper{
    width: 100%;
    max-width: 1920px;
    height: 100%;

}
.head {
    background: #5682a3;
    width: 100%;
    height: 75px;
}
.head h5 {
    padding-top: 15px;
    padding-left: 50px;
}
.main-reg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.down{

   max-width: 220px;
    height: 100%;
    display: flex;
    align-items:center;

}
.inputTag{
    max-width: 86%;
    width: 210px;
    margin:15px 7%;
    padding:7px 7%;
    border-radius: 9px;
    border-color: white;
}
.inputTagOK{
    width: 100px;
    height: 25px;
    margin: 0 25%;
    border-radius: 15px;
}
.bottom-reg h5{
    text-align: right;
    color: black;
    font-size: 12px

}
.enter{
    background: aliceblue;
    opacity: 0.9;
    border-radius: 10px;

}
.enter:hover{
    opacity: 1;
}
.answer-div{
    margin: 10px;
    text-align: center;
}
.invalidResponse{
    color: red;
    font-size: 16px;
}
.answer-div p{
    text-align: center;
    font-size: 16px;
}

.wrapper{
    background-image: url("../photo/background1.jpg");
}
/* ------------------------------------------------------- Chat page -----------------------------------------------*/
.wrapper-chat{
    /*background: #f04859;*/
    max-width: 1920px;
    width: 100%;
    background-image: url("../photo/background.jpg");
    background-repeat:no-repeat;

}
header{
    background-color: rgba(221 ,237 ,237,0.1);
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    min-height: 46px;

}
.main-place{
    padding-top: 10px;
    width: 100%;
    /*background: #f04859;*/
    height: 89%;
    display:flex;


}
.convers{
    width: 10%;
    min-width: 107px;
    height: 100%;
    text-align: center;

}
.people{


}
.info h3{
    text-align: center;
}
.mess{
    width: 60%;
    height: 100%;
    /*background-color: rgba(240 248 255);*/

    max-width: 711px;
    border-radius: 5px;
    margin-left: 5px;
    background: rgba(255,255,255,0.1);

}
.mass:hover{
    background-color: rgba(185, 185, 185, 0.7);
}
.mess .info{
    border-radius: 5px;
    height: 50px;
    color: #b1b2b5;
    font-size: 24px;
    font-weight: 900;

}

.message{
    background-color: white;
    border-radius: 10px;
    margin: 0 15px;
    padding-bottom: 10px;
    max-width: 555px;
    margin-bottom: 15px;

}
.message .info-sms p{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px;

}
.nameOfUserSms{
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
}
.timeSms{
    padding-left: 15px;
}
.textSms{
    font-size:16px;
    padding-top: 5px;
    padding-left: 10px;
    word-wrap: break-word;
}
.main-chat-data{
    height: 76%;
    overflow: auto;
    background-color: rgba(74, 74, 74, 0.7);

}

.sender {
   /* width: 90%;
    padding: 0 5%;*/
    height: 24%;
   /* background-color: #e00;*/
    /*background-image: url(background3.jpg);*/
    border-top: 1px solid black;

}
.sender-child{
    display: flex;
    justify-content: space-between;
}

.click-send{

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;

    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 35px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
    box-sizing: border-box;
}
.form-send{
    display: flex;
    justify-content: space-between;
}
.container {
    padding-left: 25px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}

.row1 {
    width: 75%
}
.row2{
    padding-top: 60px;
}
.col-75 {

    width: 100%;
    margin-top: 6px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}



/* -----------------------------------------------ROOMS --------------------------------------- */
.rooms{
    margin-left: 15px;
}
.room {
    width: 100%;

    /*border-bottom:1px solid #f55442;*/
    background-color: #ddeded;
    border-radius: 10px;
    margin-bottom: 2px;


}
.room:hover {
    background-color: #b1b2b5;
}
.room p{
    padding-top: 10px;

}

/* -----------------------------------------------People--------------------------------------- */
.peopleData{
    background-color: #e3d1d1;
    opacity: 0.9;
    border-radius: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;

}
.userData{

    height: 25px;
    width: 100px;
    border-radius: 5px;
    background-color: #ebada7;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}
.userData:hover {
    background-color: #ff1500;
}
.infoAboutAddRoom {
    background-color: #d9d2d3;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;

}

footer{
    background-image:  url("../photo/background.jpg");
    height:4%;
}

/* logout */
.log_out input[type=submit] {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);


    /*padding: 14px 20px;*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.log_out input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.log_out {
    width: 100px;
    margin-top: 5px;
    margin-right: 5px;
}
/* logout */

/* dropdown users menu */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8.5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-left: 15px;
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .user_item {
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
    width: 100%;
    margin: 0;
    height: 35px;
    border:none;
}

.dropdown-content .user_item:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.user_item .form_users_dropdown{
    width: 100%;
}
.user_item .form_users_dropdown .users_add_chat{
    width: 100%;
    height: 100%;
    border:none;
}
.user_item .users_add_chat:hover {background-color: rgba(74, 74, 74, 0.5);}
/* dropdown users menu */
.prepareToConversation{
    background-color: rgba(255,255,255,0.6);
    max-width: 50%;
    margin: auto;
    margin-top: 40%;
    height: 40px;
    border-radius: 8px;
}
.chooseRoomText{
    height: 100%;
    padding: 7px;
}
.rooms_list{
    height: 100%;
    width: 100%;
    background-color: #ddeded;
}
.ownerMessage{
    background-color: rgba(255,255,255,0.6);
    margin-left: 20%;
}
.ownerMessage .info-sms{

    text-align: right;

}
.ownerMessage .textSms{
    text-align: right;
    padding-right: 10px;
    word-wrap: break-word;

}
.rooms_list:hover{
    border-color: #4CAF50;
}
.responsiveRooms{
    display: none;
}